<table class="table table-striped">
  <tbody>
    <tr *ngFor="let i of tabItin">
      <td>{{i.nom}}</td>
      <td>{{i.diff}}</td>
      <td><button class="btn btn-info">Modifier</button></td>
      <td><button class="btn btn-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success">Ajouter un itinéraire</button>
