<div class="app">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">{{ title }}</a>
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/">Home</a></li>
        <li class="nav-item"><a routerLink="/itineraire">Itinéraires</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div>Version : {{ version }}</div>
  </footer>

</div>
